@import url("https://fonts.googleapis.com/css2?family=Honk&family=Jersey+10&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk&family=Jersey+10&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}

.appContainer {
  display: flex;
  flex-direction: column;
}

.addTaskInput {
  width: 800px;
  height: 100px;
  border-radius: 50px;
  font-size: 36px;
  color: #778498;
  padding-left: 50px;
  border: red;
  outline: transparent;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.addTaskButton {
  position: absolute;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin-left: 88%;
  transition: color 0.2s ease, transform 0.2s ease;
  background-color: #5F6A7A;
  border: red;
  color: white;
  outline: transparent;
}

.addTaskButton:hover {
  color: #acc5c1;
  transform: scale(1.1);
}
.tasksContainer {
  display: flex;
  flex-direction: row;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9c9cd7;
  width: 640px;
  height: 617px;
  border-radius: 20px;
  margin: 2rem;
}

.containerTitle {
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
}

.appTitle {
  font-family: "Roboto Serif", serif;
  font-weight: bold;
  font-size: 48px;
  color: white;
}
