:root {
  background: rgb(74, 116, 212);
  background: linear-gradient(
    180deg,
    rgba(74, 116, 212, 1) 0%,
    rgba(119, 132, 152, 1) 100%
  );
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
